# Nextflow
.nextflow*
work/
testing/
testing*
*.pyc
*.ipynb
.DS_Store

# Vscode
*.code-workspace

# Docs
site/

# Dev
Project/
data/
output/

# Quarto
notebook_*_files/
notebook_*_cache/
notebook_*.html

# Jupyter Notebook
.ipynb_checkpoints
.jupyter_cache/
*.pyc
*.ipynb

# R environments
.Rproj.user
.Rproj
.Rhistory
.DS_Store
.Rhistory
.nextflow*
work/
results/
figures/
*.RDS
*.rds
*.zip
*.tar.gz
*.sif
*.h5
*.bam
*.bai
*.fastq.gz
# OS / session junk
.DS_Store
.Rhistory
# Nextflow runtime / logs
.nextflow*
work/
results/
figures/

# Big data / artifacts
*.RDataTmp
*.RData
*.rds
*.RDS
*.h5
*.bam
*.bai
*.fastq.gz
*.tar.gz
*.zip
*.sif
